* {
	margin: 0;
	padding: 0;
}

body {
	background-color: hsl(210, 46%, 95%);
	font-family: 'Barlow Semi Condensed', sans-serif;
	font-size: 13px;
	line-height: 1.4;
	padding: 7% 5%;
}

img	{
	border-radius: 100%;
	height: 39px;
}

h1 {
	font-size: 23px;
	margin: 20px 0;
}

h4 {
	opacity: 0.5;
}

p {
	letter-spacing: .45px;
	opacity: 0.7;
}

.box {
	position: relative;
}

.header {
	position: relative;
}

.name-status {
	display: inline-block;
	position: absolute;
	left: 64px;
}

.testimonial {
	display: inline-block;
	border-radius: 10px;
	margin: 15px;
	padding: 3%;
}

.box-4 {
	display: inline-block;
	width: 867px;
}

#test-1 {
	background-color: hsl(263, 55%, 52%);
	color: hsl(0, 0%, 100%);
	width: 500px;
}

#test-2 {
	background-color: hsl(217, 19%, 35%);
	color: hsl(0, 0%, 100%);
	width: 200px;
}

#test-3 {
	background-color: hsl(0, 0%, 100%);
	color: hsl(217, 19%, 35%);
	width: 200px;
}

#test-4 {
	background-color: hsl(219, 29%, 14%);
	color: hsl(0, 0%, 100%);
	width: 500px;
}

#test-5 {
	background-color: hsl(0, 0%, 100%);
	color: hsl(217, 19%, 35%);
	width: 200px;
	position: absolute;
}